nav{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5rem 18px 5rem; 
}
nav h1{ 
    color: white;
    font-size: 2rem;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.5px;
} 
nav h1 span{
    color: #fdae5c;
} 
.menu{
    display: flex;
}
.menu ul{
    display: flex;
} 
.menu ul li{
    padding: 10px 25px;
}
.menu ul li a{
    color: white;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
.btn{
    background: #fdae5c;
    padding: 8px 20px;
    border: 2px solid #fdae5c;
    margin-left: 2rem;
    border-radius: 30px;
}
.btn a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}
.fa-bars{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fdae5c;
}
/* CSS For Transition When Scroll */
.navbar.active{
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 990;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
    background-color: #2c2a2f;
    transform: translateY(70px);
    transition: transform 1s ease;
}
/* Media Query Responsive Navbar */
@media screen and (max-width:985px){
    .navbar.active{
        display: none;
    }
    nav{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    nav h1{
        font-size: 1.6rem;
    }
    .btn{
        margin: 0;
    }
    .fa-bars{
        display: flex;
    }
    .menu{
        display: block;
        z-index: 9999!important;
        position: absolute;
        left: 3%;
        top: 68px;
        width: 93%;
        background-color: #2c2a2f;
        transform: translateY(-300px);
        transition: transform 1s ease-in-out visibility 1s;
        padding-bottom: 1rem;
        border-radius: 1rem;
        visibility: hidden;
    }
    .mobile-menu{
        visibility: visible;
        transform: translateY(0px);
        transition: transform 1s ease-in-out, visibility 1s;
    }
    .menu ul{
        display: block;
    }
    .menu ul li{
        padding: 17px 3rem;
    }
    .btn{
        padding-left: 3rem;
        border: none;
        background: transparent;
    }
}
@media screen and (max-width:550px){
    nav{
        padding-left: 2rem;
        padding-right: 2em;
    }
    .fa-bars{
        font-size: 1.7rem;
    }
} 
@media screen and (max-width:380px){
    nav{
        padding-left: 1rem;
        padding-right: 1em;
    }
    nav h1{
        font-size: 1.5rem;
    }
    .fa-bars{
        font-size: 1.5rem;
    }
} 